
[Unit]
Wants=network-online.target
After=network.target

[Service]
ExecStart =/usr/bin/module_loader.sh
StandardInput=journal+console
StandardOutput=journal+console

[Install]
WantedBy = multi-user.target
