[Unit]
Wants=network-online.target
After=network-online.target

[Service]
ExecStart =/home/pi/DataProject/module_loader.sh start
StandardInput=journal+console
StandardOutput=journal+console

[Install]
WantedBy = multi-user.target
